%li.span4
  .thumbnail
    =image_tag("cheeseburger.jpg", alt: "#{food.name}")
    .caption
      %h3 
        =food.name
      %p
        ="$#{food.price / 100}.#{'%02d' % (food.price % 100)}"
      %p{align: "center"}
        %a.btn.btn-primary.btn-block{href: "#"} Add to Order