%li.span4
  .thumbnail
    %img{alt: "ALT NAME", src: "http://placehold.it/320x200"}/
    .caption
      %h3 Header Name
      %p Description
      %p{align: "center"}
        %a.btn.btn-primary.btn-block{href: "http://bootsnipp.com/"} Open