.span4
  %p
    = @form.label "name (first, last)"
    %br
    = @form.text_field :name

  %label.radio-inline
    %input#inlineCheckbox1{type: "radio", name:"order[delivery]", value: "South Quad"}/
    South Quad (6:00PM)
  %label.radio-inline
    %input#inlineCheckbox2{type: "radio", name:"order[delivery]", value: "North Quad"}/
    North Quad (6:30PM)
  %label.radio-inline
    %input#inlineCheckbox3{type: "radio", name:"order[delivery]", value: "Apartments"}/
    Apartments (7:00PM)