/ 
/ Note: Most of the styling has been done in application.html.haml;
/ we are only rendering what we want in the body of our page!
/ The only exception is that any overrides we want specific to any pages
/ in the app/view/welcome folder also have the welcome.css.scss rules
/ apply to them.
/ 



.container-narrow
  
  / Masthead and navigation
  .masthead
    %ul.nav.nav-pills.pull-right
      %li.active
        %a{href: "#"} Home
      %li
        %a{href: "#"} About
      %li
        %a{href: "#"} Contact
    %h1.muted Claremont Cravings
  %hr/

  / Jumpotron with call-to-action.
  .jumbotron
    %h2 
      Fancy Village Food. 
      %br
      College-Student Convenience.

    %p.lead   Order the food you want from the village and we'll bring it to you.

    / Note: The menuModal id is found in the menu_modal which we render as a partial.
    %a.btn.btn-large.btn-success{"data-toggle" => "modal", href: "#menuModal", role: "button"} Order Now
  %hr/

  / This is what pops up when you click the button in the jumbotron.
  = render "menu_modal", :restaurants => @restaurants

  .footer
    = link_to "© Faun and Phoenix 2013", "http://faun-and-phoenix.herokuapp.com"



